{% extends "base.html" %}
{% load widget_tweaks %}



{% block conteudo %}


<br>

<div class="jumbotron col-6 m-auto">
    <h4>Digite sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</h4>
    <br>
<form method="post">
    {% csrf_token %}
<fieldset>

    <div >
        {{ form.new_password1.errors }}
        {% render_field form.new_password1 class='form-control' placeholder='Nova senha'%}
    </div>
    <br>
    <div>
        {{ form.new_password2.errors }}
        {% render_field form.new_password2 class='form-control' placeholder='Confirmar senha'%}
    </div>
    <br>
    <input type="submit" value="Mudar minha senha" class="btn btn-primary">

</fieldset>
</form>
</div>



{% endblock %}
