{% extends 'base.html' %}
{% load widget_tweaks %}

{% block conteudo %}
<br>
<br>
<div class="jumbotron">
    <div class="col-6 m-auto">
        <form method="post">
            {% csrf_token %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                {% render_field form.username class='form-control' placeholder='Email'%}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                {% render_field form.password class='form-control' placeholder='Senha' type='password'%}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <a href=""><button type="button" class="btn btn-primary">Cadastrar-se</button></a>
            <a href="" style="margin-left: 8px;">Esqueceu a senha?</a>
        </form>

        <div style="margin-top: 50px;">

        </div>
    </div>
</div>

{% endblock %}
