{% extends 'base.html' %}
{% load widget_tweaks %}

{% block conteudo %}
<br>
<br>
<div class="row">
    <div class="col-4 m-auto">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email address:</label>
                {% render_field form.email class='form-control'%}
            </div>
            <div class="form-group">
                <label for="pwd">Nome:</label>
                {% render_field form.username class='form-control' %}
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                {% render_field form.password1 class='form-control' %}
            </div>
            <div class="form-group">
                <label for="pwd">Confirm password:</label>
                {% render_field form.password2 class='form-control' %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
